# data file
/data/cifar10/

/data/mnist/
###########################################################
# logs
/logs/
###########################################################
# enc_dec_time
/enc_dec_time/
###########################################################
# result
/result/





*.txt

*.csv

*.json

*.png

