/federated-learning/data/cifar

/federated-learning/data/mnist
#################################################
/fedselect/data/cifar10/
###########################################################
/PVPF/data/cifar10/

/PVPF/data/mnist/MNIST/

/PVPF/logs/

/PVPF/enc_dec_time/

/data/

/PVPF/result
###########################################################
/FedAvg/data

/FedAvg/logs

/FedAvg/result

/FedAvg/enc_dec_time
###########################################################

/pytorch_federated_learning/data

/pytorch_federated_learning/logs

/pytorch_federated_learning/result

/pytorch_federated_learning/enc_dec_time

/pytorch_federated_learning/figures


*.txt

*.csv

*.json

*.png

